@model PaginationList<Weather>;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DynamicSun</title>

    <link rel="stylesheet" href="~/css/Main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body>

    <div class="container">
        <div class="filter">
            <form>
                <select class="mySelect" name="selectInfo_Month">
                    <option value="0">Выберите месяц</option>
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>

                <select class="mySelect" name="selectInfo_Years">
                    <option value="0">Выберите год</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    
                </select>

                <input class="btn__search" type="submit" value="Найти" asp-action="SearchInfo" asp-controller="Weather" />
            </form>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Дата</td>
                    <td>Время МСК</td>
                    <td>Температура,°C</td>
                    <td>Влажность, %</td>
                    <td>Точка росы</td>
                    <td>Давление, мм рт. ст.</td>
                    <td>Направление ветра</td>
                    <td>Скорость, м/с</td>
                    <td>Облачность, %</td>
                    <td>Ниж. гр. облачности, м</td>
                    <td>Видимость, км</td>
                    <td>Погодные яв.</td>
                </tr>
            </thead>
            @if (Model.Count() != 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Date</td>
                        <td>@item.Time</td>
                        <td>@item.Temperature</td>
                        <td>@item.Humidity</td>
                        <td>@item.DewPoint</td>
                        <td>@item.Pressure</td>
                        <td>@item.WindDirection</td>
                        <td>@item.WindSpeed</td>
                        <td>@item.CloudCover</td>
                        <td>@item.LBCloudCover</td>
                        <td>@item.HorizontalVisibility</td>
                        <td>@item.WeatherPhenomena</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Список пуст</td>
                </tr>
            }

        </table>

        @{
            var prevDisable = !Model.PreviousPage ? "disabled" : "";
            var nextDisable = !Model.NextPage ? "disabled" : "";           
        }

        <a asp-action="List" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn__search @prevDisable"><</a>                           
        <a asp-action="List" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn__search @nextDisable">></a>
            
    </div>
    <script>
        var select = document.getElementById("mySelect");
        select.addEventListener("change", function () {
            localStorage.setItem("selectedOption", this.value);
            if (this.value) {
                alert("Вы выбрали: " + this.value);
            } else {
                alert("Выберите опцию");
            }
        });
    </script>
</body>
</html>